<!DOCTYPE html>
<html>
	<head>
		<title>Adminpanel</title>
		<script language="JavaScript" type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
		<script
			src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js"
			integrity="sha512-q/dWJ3kcmjBLU4Qc47E4A9kTB4m3wuTY7vkFJDTZKjTs8jhyGQnaUrxa0Ytd0ssMZhbNua9hE+E7Qv1j+DyZwA=="
			crossorigin="anonymous"
		></script>
		<script src="../static/js/sendUpdate.js"></script>
		<link rel="stylesheet" href="../static/css/stylesheet.css" />
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />
	</head>

	<body class="bg">
		<div class="bodycontainer">
			<div>
				<h1 class="headline">ADMINPANEL</h1>
			</div>
			<div class="container">
				<div class="team_a">
					<p class="teamname"><input type="text" class="teamname nameinput" id="name_a" value="" /></p>
					<div>
						<button class="changevalue" id="add_a"><i class="fa fa-plus" aria-hidden="true"></i></button>
						<div class="points" id="points_a"></div>
						<button class="changevalue" id="sub_a"><i class="fa fa-minus" aria-hidden="true"></i></button>
					</div>
				</div>
				<div class="team_b">
					<p class="teamname"><input type="text" class="teamname nameinput" id="name_b" value="" /></p>
					<div>
						<button class="changevalue" id="add_b"><i class="fa fa-plus" aria-hidden="true"></i></button>
						<div class="points" id="points_b"></div>
						<button class="changevalue" id="sub_b"><i class="fa fa-minus" aria-hidden="true"></i></button>
					</div>
				</div>
			</div>
		</div>
	</body>
</html>
