<!DOCTYPE html>
<html>
	<head>
		<title>Punktestand</title>
		<script language="JavaScript" type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
		<script
			src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js"
			integrity="sha512-q/dWJ3kcmjBLU4Qc47E4A9kTB4m3wuTY7vkFJDTZKjTs8jhyGQnaUrxa0Ytd0ssMZhbNua9hE+E7Qv1j+DyZwA=="
			crossorigin="anonymous"
		></script>
		<link rel="stylesheet" href="../static/css/stylesheet.css" />
		<script src="../static/js/updateContent.js"></script>
	</head>
	<body class="bg">
		<div class="bodycontainer">
			<div>
				<h1 class="headline">PUNKTESTAND</h1>
			</div>
			<div class="container">
				<div class="team_a">
					<h1 class="teamname" id="name_a">Team A</h1>
					<p class="points" id="points_a">0</p>
				</div>
				<div class="team_b">
					<h1 class="teamname" id="name_b">Team B</h1>
					<p class="points" id="points_b">0</p>
				</div>
			</div>
		</div>
	</body>
</html>
